DB_PASSWORD=

ADM_USERNAME=
ADM_EMAIL=
ADM_PASSWORD=

CLOUDFLARE_R2_BUCKET_NAME=
CLOUDFLARE_R2_ENDPOINT=
CLOUDFLARE_R2_ACCESS_KEY=
CLOUDFLARE_R2_SECRET_KEY=

# Use file:/path/to/key.pub for external files in production
# Use classpath:app.pub for local development (default)
JWT_PUBLIC_KEY=classpath:app.pub
JWT_PRIVATE_KEY=classpath:app.key
